/* Event bible theme */
#bible-cite-header {
    color: #fff !important;
    background-color: RGBA(var(--bs-primary-rgb),var(--bs-bg-opacity,1)) !important;
}
#bible-cite-header.collapsed {
    border-radius: var(--bs-border-radius);
    color: var(--bs-card-cap-color) !important;
    background-color: var(--bs-card-cap-bg) !important;
}

/* Anchor menu links */
html { scroll-padding-top: 60px; }

/* Popover */
.popover { z-index: 1018; }

/* Calendar */
.row-cols-7 > * {
    flex: 0 0 auto;
    width: 14.285714%;
}
#calendar button, #calendar span, .calendar-days div {
    padding: 0;
    margin: 0;
}
.calendar-days {
    div {
        display: grid;
        justify-content: center;

        button, span {
            line-height: 2.5rem;
            width: 40px;
            height: 40px;
        }
    }

    .event-start {
        background: linear-gradient(90deg, #0000 50%, rgba(var(--bs-primary-rgb),.25) 50%);
    }
    .event-end {
        background: linear-gradient(90deg, rgba(var(--bs-primary-rgb),.25) 50%, #0000 50%);
    }
}

/* Countdown timer */
#countdown {
    li {
        flex: 1 1 0px;
        margin: 0;
        padding: 0;
        span {
            font-size: 10vw;
            margin: 0;
            padding: 0;
        }
        div {
            font-size: 3vw;
        }
    }
}

/* `xs` */
#background-art { transform: translate(0, 0); }
main { margin-top: 130%; }

/* `sm` applies to x-small devices (portrait phones) */
@media (min-width: 575.98px) {
    #background-art { transform: translate(0, -10%); }
    main { margin-top: 115%; }
    #countdown li {
        span { font-size: 3.5rem; }
        div { font-size: 1rem; }
    }
}

/* `md` applies to small devices (landscape phones) */
@media (min-width: 767.98px) {
    #background-art { transform: translate(0, -12%); }
    main { margin-top: 115%; }
}

/* `lg` applies to medium devices (tablets) */
@media (min-width: 991.98px) { 
    #background-art { transform: translate(0, -15%); }
    main { margin-top: 110%; }
}

/* `xl` applies to large devices (desktops) */
@media (min-width: 1199.98px) {
    #background-art { transform: translate(0, -10%); }
    main { margin-top: 115%; }
}

/* `xxl` applies to x-large devices (large desktops) */
@media (min-width: 1399.98px) {
    #background-art { transform: translate(0, -10%); }
    main { margin-top: 115%; }
}

/* Hide background-art if in ladscape */
@media (orientation: landscape) {
    main { margin-top: 0%; }
}



/* Animation */
.progress-warning {
    animation: low-shake 1s;
    animation-iteration-count: infinite;
}

@keyframes low-shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -1px) rotate(-1deg); }
    20% { transform: translate(-1px, 0px) rotate(1deg); }
    30% { transform: translate(1px, 1px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 1px) rotate(-1deg); }
    60% { transform: translate(-1px, 1px) rotate(0deg); }
    70% { transform: translate(1px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 1px) rotate(0deg); }
    100% { transform: translate(1px, -1px) rotate(-1deg); }
}

.progress-danger {
    animation: high-shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes high-shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}